1. 라이브러리 선언

In [2]:
import pandas as pd

In [3]:
pirlirUrl = "https://www.data.go.kr/cmm/cmm/fileDownload.do?atchFileId=FILE_000000002340074&fileDetailSn=1&dataNm=%ED%95%9C%EA%B5%AD%EC%A3%BC%ED%83%9D%EA%B8%88%EC%9C%B5%EA%B3%B5%EC%82%AC_%EC%A7%80%EC%97%AD%EB%B3%84%20PIR%20%EB%B0%8F%20LIR"

In [4]:
indata = pd.read_csv(pirlirUrl, encoding = 'ms949')
# 꼬리부분 마지막 5개 데이터
# 반대는 indata.head()
indata.tail()

,연도,월,전국PIR,서울PIR,부산PIR,대구PIR,인천PIR,광주PIR,대전PIR,울산PIR,...,세종LIR,경기LIR,강원LIR,충북LIR,충남LIR,전북LIR,전남LIR,경북LIR,경남LIR,제주LIR
190,2020,1,4.47,5.44,4.84,5.16,4.39,4.76,4.52,4.11,...,2.63,2.39,1.90,1.76,1.87,1.94,1.85,1.80,2.02,2.13
191,2020,2,4.45,5.02,5.04,4.92,4.49,4.52,4.36,3.90,...,2.69,2.34,1.96,1.87,1.89,1.83,1.68,1.69,1.91,2.07
192,2020,3,4.76,5.12,5.22,5.20,4.76,5.04,4.74,4.11,...,2.22,2.56,2.13,1.98,2.03,1.97,1.89,1.95,2.23,2.27
193,2020,4,4.83,4.95,5.67,5.91,4.78,5.41,5.40,4.44,...,1.73,2.54,2.13,2.09,2.14,2.11,1.94,1.97,2.06,1.85
194,2020,5,4.56,4.88,7.01,5.44,4.56,3.16,4.72,5.77,...,0.00,2.23,2.44,1.08,1.65,1.04,1.68,1.99,2.17,0.96

In [5]:
realtyUrl = 'https://www.data.go.kr/cmm/cmm/fileDownload.do?atchFileId=FILE_000000002312933&fileDetailSn=1&dataNm=%ED%95%9C%EA%B5%AD%EB%B6%80%EB%8F%99%EC%82%B0%EC%9B%90_%EC%98%A4%ED%94%BC%EC%8A%A4%ED%85%94%20%EC%A0%84%EC%84%B8%EA%B0%80%EA%B2%A9(%EC%9B%94%EB%B3%84)_20201014'

indata = pd.read_csv(realtyUrl, encoding = 'ms949')

indata.head()

,지역,2018-01(평균전세가격),2018-01(평균단위당전세가격),2018-01(중위전세가격),2018-01(중위단위당전세가격),2018-02(평균전세가격),2018-02(평균단위당전세가격),2018-02(중위전세가격),2018-02(중위단위당전세가격),2018-03(평균전세가격),...,2020-04(중위전세가격),2020-04(중위단위당전세가격),2020-05(평균전세가격),2020-05(평균단위당전세가격),2020-05(중위전세가격),2020-05(중위단위당전세가격),2020-06(평균전세가격),2020-06(평균단위당전세가격),2020-06(중위전세가격),2020-06(중위단위당전세가격)
0,전국,140595,3444,125955,3350,140940,3450,126106,3362,141157,...,127940,3379,141909,3467,127837,3381,141929,3468,127726,3377
1,수도권,152642,3799,138422,3695,153088,3808,138614,3711,153371,...,141273,3740,154837,3843,141201,3744,154919,3845,141183,3740
2,지방,90197,1958,73801,1905,90125,1955,73781,1903,90062,...,72160,1866,87825,1895,71934,1865,87587,1891,71430,1856
3,서울,174714,4599,158800,4536,175277,4610,159226,4561,175643,...,164237,4626,179246,4704,164189,4635,179346,4706,164271,4635
4,서울 도심권,215438,5201,207879,5362,216260,5219,207434,5480,216998,...,217287,5556,221373,5350,217584,5556,221649,5358,218380,5555

In [6]:
url = "https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=YTBiZjMwZTlkOGMzZjcwZTkxZDg2YTRlNzYwOWU2ZGM=&format=json&jsonVD=Y&userStatsId=lkr1111/101/DT_1B040A3/2/1/20210412145714&prdSe=M&newEstPrdCnt=1"
json = pd.DataFrame() 
try:
    json = pd.read_json(url) 
except Exception as e:
    print(e)
json

,TBL_NM,PRD_DE,TBL_ID,ITM_NM,ITM_NM_ENG,ITM_ID,UNIT_NM,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,DT,PRD_SE,C1,C1_NM,C1_NM_ENG
0,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9598484,M,11,서울특별시,Seoul
1,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,4667524,M,11,서울특별시,Seoul
2,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,4930960,M,11,서울특별시,Seoul

In [7]:
url = 'https://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=YTBiZjMwZTlkOGMzZjcwZTkxZDg2YTRlNzYwOWU2ZGM=&format=json&jsonVD=Y&userStatsId=lkr1111/101/DT_1B040A3/2/1/20210412150459_1&prdSe=M&newEstPrdCnt=12'
json = pd.DataFrame() 
try:
    json = pd.read_json(url) 
except Exception as e:
    print(e)
json

,TBL_NM,PRD_DE,TBL_ID,ITM_NM,ITM_NM_ENG,ITM_ID,UNIT_NM,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,DT,PRD_SE,C1,C1_NM,C1_NM_ENG
0,행정구역(시군구)별 성별 인구수,202004,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9726787,M,11,서울특별시,Seoul
1,행정구역(시군구)별 성별 인구수,202005,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9724496,M,11,서울특별시,Seoul
2,행정구역(시군구)별 성별 인구수,202006,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9720846,M,11,서울특별시,Seoul
3,행정구역(시군구)별 성별 인구수,202007,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9715429,M,11,서울특별시,Seoul
4,행정구역(시군구)별 성별 인구수,202008,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9708247,M,11,서울특별시,Seoul
5,행정구역(시군구)별 성별 인구수,202009,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9699232,M,11,서울특별시,Seoul
6,행정구역(시군구)별 성별 인구수,202010,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9689159,M,11,서울특별시,Seoul
7,행정구역(시군구)별 성별 인구수,202011,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9679771,M,11,서울특별시,Seoul
8,행정구역(시군구)별 성별 인구수,202012,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9668465,M,11,서울특별시,Seoul
9,행정구역(시군구)별 성별 인구수,202101,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9657969,M,11,서울특별시,Seoul
10,행정구역(시군구)별 성별 인구수,202102,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9648606,M,11,서울특별시,Seoul
11,행정구역(시군구)별 성별 인구수,202103,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9598484,M,11,서울특별시,Seoul

In [8]:
# 1행 82500 2008
# 2행 60000 1982

In [9]:
rowList = []
columnList = []
columnList.append("82,500")
columnList.append("2008")
print(columnList)
rowList.append(columnList)
columnList = []
columnList.append("60,000")
columnList.append("1982")
print(columnList)
rowList.append(columnList)
columnList = []
pd.DataFrame(rowList)

['82,500', '2008']
['60,000', '1982']

        0     1
0  82,500  2008
1  60,000  1982

In [10]:
rowList

[['82,500', '2008'], ['60,000', '1982']]

In [11]:
import requests
#Used to parse XML
from lxml import html
from bs4 import BeautifulSoup 
import pandas as pd

In [12]:
url = 'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?LAWD_CD=11110&DEAL_YMD=201512&serviceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D'

In [15]:
import requests
from lxml import html
from bs4 import BeautifulSoup 
import pandas as pd
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote
API_Key = "AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D"
# 어플리케이션에 접속을 하려면 서비스 키가 필요하다. 하나는 인코딩이 된거 하나는 인코딩이 안된거(일반인증키) 
# 일반 인증키를 복사해서 가져오는거다.
url = "http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev"
# queryParams = '?' + urlencode
(
{
quote_plus('ServiceKey') : API_Key,
quote_plus('LAWD_CD'): '11110',
quote_plus('DEAL_YMD'): '201512'
}
)
response = requests.get("http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?LAWD_CD=11110&DEAL_YMD=201512&serviceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D")
response.encoding='utf-8'
xmlobj = BeautifulSoup(response.text,"lxml-xml")
# response.text 와 xmlobj가 같아보이지만 다르다(함수가 포함된다.)

In [16]:
rows = xmlobj.find_all("item")
# rows라는 변수에 xmlobj(BeautifulSoup로 정제된response.text)의 item정보만을 담아냈다.

In [17]:
len(rows)
rows[0]

<item><거래금액>    82,500</거래금액><건축년도>2008</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00004</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>03</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 사직동</법정동><법정동본번코드>0009</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11500</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>광화문풍림스페이스본(101동~105동)</아파트><월>12</월><일>10</일><일련번호>11110-2203</일련번호><전용면적>94.51</전용면적><지번>9</지번><지역코드>11110</지역코드><층>11</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>

In [18]:
eachRow = rows[0]
# 여러개의 item중 첫번째 item을 eachRow에 담았다
(eachRow)

<item><거래금액>    82,500</거래금액><건축년도>2008</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00004</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>03</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 사직동</법정동><법정동본번코드>0009</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11500</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>광화문풍림스페이스본(101동~105동)</아파트><월>12</월><일>10</일><일련번호>11110-2203</일련번호><전용면적>94.51</전용면적><지번>9</지번><지역코드>11110</지역코드><층>11</층><해제사유발생일> </해제사유발생일><해제여부> </해제여부></item>

In [19]:
columns = eachRow.find_all()
# 하나의 item에있는 모든 정보를 columns에 담았다.
columns
# 한개의 행에 있는 모든 태그를 찾아라

[<거래금액>    82,500</거래금액>,
 <건축년도>2008</건축년도>,
 <년>2015</년>,
 <도로명>사직로8길</도로명>,
 <도로명건물본번호코드>00004</도로명건물본번호코드>,
 <도로명건물부번호코드>00000</도로명건물부번호코드>,
 <도로명시군구코드>11110</도로명시군구코드>,
 <도로명일련번호코드>03</도로명일련번호코드>,
 <도로명지상지하코드>0</도로명지상지하코드>,
 <도로명코드>4100135</도로명코드>,
 <법정동> 사직동</법정동>,
 <법정동본번코드>0009</법정동본번코드>,
 <법정동부번코드>0000</법정동부번코드>,
 <법정동시군구코드>11110</법정동시군구코드>,
 <법정동읍면동코드>11500</법정동읍면동코드>,
 <법정동지번코드>1</법정동지번코드>,
 <아파트>광화문풍림스페이스본(101동~105동)</아파트>,
 <월>12</월>,
 <일>10</일>,
 <일련번호>11110-2203</일련번호>,
 <전용면적>94.51</전용면적>,
 <지번>9</지번>,
 <지역코드>11110</지역코드>,
 <층>11</층>,
 <해제사유발생일> </해제사유발생일>,
 <해제여부> </해제여부>]

In [20]:
eachColumn = columns[0]
# item에 있는 정보 중 첫번째 태그? 정보를 하나 꺼내서 eachcolumn에 담았다.
eachColumn

In [21]:
eachColumn.text.replace(" ","")
# value를 먼저 넣어야 하므로
# 공백을 제거하고 value값만 남긴다.

'82,500'

In [22]:
rowList = []
columnList = []
# row와 column을 담는 빈 리스트를 만들어 놓는다.

In [23]:
eachColumnName = eachColumn.text.replace(" ","")

In [24]:
columnList.append(eachColumnName)
# item 의 첫번째 값의 첫번째 태그정보의 value를 columnList에 담았다.
columnList

['82,500']

In [37]:
len(columns)
columns[2]
rows[2]
rows[2].find_all
columns[1].name

'건축년도'

In [43]:
# rows에 

rowList = []
columnList = []
for j in range(0,len(rows)):
    eachRow = rows[j]
    columns = eachRow.find_all()
    #print(columns)
    # 첫번째 내부 반복문 컬럼값을 전부 담아라.
    for i in range(0,len(columns)):

#             columnlistname.append(columns[i].name)
            
            eachColumn = columns[i]
            columnList.append(eachColumn.text.replace(" ",""))
    rowList.append(columnList)
    columnList = []
(pd.DataFrame(rowList))

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
1,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8,,
2,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,킹스매너,12,8,11110-118,194.43,110-15,11110,6,,
3,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8,,
4,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,경희궁파크팰리스,12,24,11110-107,146.33,95,11110,4,,
5,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8,,
6,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4,,
7,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,렉스빌,12,29,11110-973,106.98,19,11110,3,,
8,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,1,11110-25,84.8,4,11110,18,,
9,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,10,11110-25,84.9,4,11110,12,,

In [36]:
for j in range(0,len(rows)):
    eachRow = rows[j]
    columns = eachRow.find_all()
    for i in range(0,len(columns)):
        eachColumn = columns[i]
        columnList.append(eachColumn.text.replace(" ",""))
    rowList.append(columnList)
    columnList = []
pd.DataFrame(rowList)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
1,,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,,,,,,,,
3,,,,,,,,,,,...,,,,,,,,,,
4,,,,,,,,,,,...,,,,,,,,,,
5,,,,,,,,,,,...,,,,,,,,,,
6,,,,,,,,,,,...,,,,,,,,,,
7,,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,
9,,,,,,,,,,,...,,,,,,,,,,
10,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
11,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8,,
12,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,킹스매너,12,8,11110-118,194.43,110-15,11110,6,,
13,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8,,
14,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,경희궁 파크팰리스,12,24,11110-107,146.33,95,11110,4,,
15,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8,,
16,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4,,
17,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,렉스빌,12,29,11110-973,106.98,19,11110,3,,
18,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,1,11110-25,84.8,4,11110,18,,
19,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,10,11110-25,84.9,4,11110,12,,
20,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
21,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8,,
22,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,킹스매너,12,8,11110-118,194.43,110-15,11110,6,,
23,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8,,
24,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,경희궁파크팰리스,12,24,11110-107,146.33,95,11110,4,,
25,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8,,
26,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4,,
27,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,렉스빌,12,29,11110-973,106.98,19,11110,3,,
28,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,1,11110-25,84.8,4,11110,18,,
29,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,10,11110-25,84.9,4,11110,12,,
30,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
31,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8,,
32,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,킹스매너,12,8,11110-118,194.43,110-15,11110,6,,
33,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8,,
34,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,경희궁파크팰리스,12,24,11110-107,146.33,95,11110,4,,
35,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8,,
36,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4,,
37,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,렉스빌,12,29,11110-973,106.98,19,11110,3,,
38,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,1,11110-25,84.8,4,11110,18,,
39,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,10,11110-25,84.9,4,11110,12,,

In [27]:
rowList = []
# 한 행의 컬럼값을 담을 리스트
columnList = []
# 행 값을 담고 있는 모든 태그를 검색
rows = xmlobj.findAll('item')
# 첫번째 행때 컬럼 수집
rowcnt = 0
columnNameList = []
print(rowcnt)
for eachrow in rows:
    columns = eachrow.findAll()
    for eachColumns in columns:
        if(rowcnt==0):
            columnNameList.append(eachColumns.name)
            eachcolumnValue = eachColumns.text
        columnList.append(eachcolumnValue)
    rowcnt=rowcnt+1
    rowList.append(columnList)
    columnList = []

print(rowcnt)
#     print(rowcnt)
#         print("all")
#         print(j)
#         print("")
#         print("name")
#         print(j.name)
#         print("")

0
10

In [60]:
print(columns[0].name)
print(columns[0].text)

거래금액
    52,000

In [55]:
# rows라는 변수에 담긴 xmlobj(BeautifulSoup로 정제된response.text)의 item정보중 하나씩 꺼낸다.
for a in rows:
    rowcnt = 0
    # 첫번째 item의 모든정보를 columns에 담는다.
    columns = a.findAll()
    # columns에 담긴 item의 정보 중 
    for b in columns:
        print(rowcnt)
        #첫번째 행인 경우만 columnName을 수집해라
        if(rowcnt==0):
            columnNameList.append(b.name)
        eachcolumnValue = b.text
        columnList.append(eachcolumnValue)
        rowcnt=rowcnt+1
    rowList.append(columnList)
    columnList = []

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [53]:
indata = pd.DataFrame(rowList)

In [54]:
indata.columns = columnNameList

ValueError: Length mismatch: Expected axis has 26 elements, new values have 36 elements

In [51]:
indata

,거래금액,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명지상지하코드,도로명코드,...,아파트,월,일,일련번호,전용면적,지번,지역코드,층,해제사유발생일,해제여부
0,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
1,,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,,,,,,,,
3,,,,,,,,,,,...,,,,,,,,,,
4,,,,,,,,,,,...,,,,,,,,,,
5,,,,,,,,,,,...,,,,,,,,,,
6,,,,,,,,,,,...,,,,,,,,,,
7,,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,
9,,,,,,,,,,,...,,,,,,,,,,
10,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
11,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8,,
12,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,킹스매너,12,8,11110-118,194.43,110-15,11110,6,,
13,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8,,
14,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,경희궁 파크팰리스,12,24,11110-107,146.33,95,11110,4,,
15,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8,,
16,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4,,
17,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,렉스빌,12,29,11110-973,106.98,19,11110,3,,
18,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,1,11110-25,84.8,4,11110,18,,
19,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,10,11110-25,84.9,4,11110,12,,
20,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
21,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8,,
22,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,킹스매너,12,8,11110-118,194.43,110-15,11110,6,,
23,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8,,
24,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,경희궁파크팰리스,12,24,11110-107,146.33,95,11110,4,,
25,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8,,
26,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4,,
27,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,렉스빌,12,29,11110-973,106.98,19,11110,3,,
28,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,1,11110-25,84.8,4,11110,18,,
29,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,10,11110-25,84.9,4,11110,12,,
30,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
31,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8,,
32,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,킹스매너,12,8,11110-118,194.43,110-15,11110,6,,
33,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8,,
34,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,경희궁파크팰리스,12,24,11110-107,146.33,95,11110,4,,
35,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8,,
36,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4,,
37,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,렉스빌,12,29,11110-973,106.98,19,11110,3,,
38,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,1,11110-25,84.8,4,11110,18,,
39,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,10,11110-25,84.9,4,11110,12,,
40,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
41,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8,,
42,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,킹스매너,12,8,11110-118,194.43,110-15,11110,6,,
43,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8,,
44,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,경희궁파크팰리스,12,24,11110-107,146.33,95,11110,4,,
45,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8,,
46,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4,,
47,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,렉스빌,12,29,11110-973,106.98,19,11110,3,,
48,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,1,11110-25,84.8,4,11110,18,,
49,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,10,11110-25,84.9,4,11110,12,,
50,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
51,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8,,
52,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,킹스매너,12,8,11110-118,194.43,110-15,11110,6,,
53,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8,,
54,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,경희궁 파크팰리스,12,24,11110-107,146.33,95,11110,4,,
55,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8,,
56,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4,,
57,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,렉스빌,12,29,11110-973,106.98,19,11110,3,,
58,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,1,11110-25,84.8,4,11110,18,,
59,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,10,11110-25,84.9,4,11110,12,,

In [32]:
result2 = pd.DataFrame(rowList, columns = columnNameList)

In [33]:
result2

,거래금액,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명지상지하코드,도로명코드,...,아파트,월,일,일련번호,전용면적,지번,지역코드,층,해제사유발생일,해제여부
0,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
1,,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,,,,,,,,
3,,,,,,,,,,,...,,,,,,,,,,
4,,,,,,,,,,,...,,,,,,,,,,
5,,,,,,,,,,,...,,,,,,,,,,
6,,,,,,,,,,,...,,,,,,,,,,
7,,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,
9,,,,,,,,,,,...,,,,,,,,,,
10,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
11,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8,,
12,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,킹스매너,12,8,11110-118,194.43,110-15,11110,6,,
13,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8,,
14,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,경희궁 파크팰리스,12,24,11110-107,146.33,95,11110,4,,
15,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8,,
16,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4,,
17,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,렉스빌,12,29,11110-973,106.98,19,11110,3,,
18,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,1,11110-25,84.8,4,11110,18,,
19,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,10,11110-25,84.9,4,11110,12,,